<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Ingreso</title>
    <link href="resources/Estilos/estilosOpc.css" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/effra-heavy" rel="stylesheet" />
    <link
      rel="icon"
      href="resources/Img/iconos/CF-icon.svg"
      type="image/svg+xml"
    />
  </head>
  <body>
    <% if(ingreso) { %>
    <header>
      <section class="encabezado">
        <div id="h1" class="elemento-enc">
          <h1>Editar Ingreso</h1>
        </div>

        <div class="elemento-enc">
          <a href="/listaIng">
            <button class="btn-volver">Volver</button>
          </a>
        </div>
      </section>
    </header>
    <form action="/updateIngreso" method="post">
      <section class="contenido">
        <input
          id="id_Ingresos"
          name="id_Ingresos"
          value="<%= ingreso.id_Ingresos %>"
          hidden
        />
        <div class="elemento-fecha">
          <input
            id="fecha"
            name="fecha"
            type="date"
            required="true"
            value="<%= ingreso.fecha %>"
          />
        </div>

        <div class="elemento-con">
          <input
            type="text"
            name="descripcion"
            required="true"
            placeholder="Descripción"
            value="<%= ingreso.Descripcion %>"
          />
        </div>

        <div class="elemento-con">
          <input
            type="text"
            inputmode="numeric"
            pattern="[0-9]*"
            name="cantidad"
            required="true"
            placeholder="$0.00"
            value="<%= ingreso.cantidad %>"
          />
        </div>

        <div class="elemento-con">
          <button>Actualizar</button>
        </div>
      </section>
    </form>
    <% } %>
    <script src="resources/Js/opc.js"></script>
  </body>
</html>
