<head>
  <link href="resources/Estilos/estilosNav.css" rel="stylesheet" />
</head>
<header class="header">
  <div class="logo">
    <a href="index"
      ><img src="resources/Img/iconos/CF-Logo.svg" alt="logo-cashflex" />
    </a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="#">Acerca de</a></li>
      <li><a href="login">Iniciar Sesión</a></li>
      <li><a href="register">Registrar</a></li>
    </ul>
  </nav>
</header>
