<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <script
      src="https://kit.fontawesome.com/d1c3c8f70d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="../Img/iconos/CF-icon.svg" type="image/svg+xml" />
    <link href="../Estilos/estilosLog.css" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/effra-heavy" rel="stylesheet" />
  </head>
  <body>
    <section>
      <div class="sesion">
        <div class="formulario">
          <form action="/validar" method="post">
            <h1>Registrarse</h1>

            <div class="input-contenedor">
              <i class="fa-solid fa-user"></i>
              <input type="text" name="username" id="username" required />
              <label for="#">Usuario</label>
            </div>

            <div class="input-contenedor">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" name="email" id="email" required />
              <label for="#">Email</label>
            </div>

            <div class="input-contenedor">
              <i class="fa-solid fa-lock"></i>
              <input type="password" name="password" id="password" required />
              <label for="#">Contraseña</label>
            </div>

            <button>Crear Cuenta</button>
          </form>
          <div>
            <div class="registrar">
              <p>
                ¿Ya tienes una cuenta?
                <a href="../Contenido/login.html">Ingresa</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
